<div *ngIf="!isLoggedIn" class="container" style="margin-left: 1rem">
    <p>You need to <a routerLink="/">log in</a> first</p>
</div>
<br>
<div class="layout-dashboard " *ngIf="isLoggedIn">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card widget-overview-chart h-full">
                    <div class="card-header">
                        <span class="font-bold">Set the limit for XP </span>
                        <p-dropdown [options]="xpGraphic" [(ngModel)]="selectedOverviewWeek"
                            (onChange)="changeXpLimit($event, null); overview.refresh()"></p-dropdown>

                    </div>

                    <div class="graph mb-3">
                        <p-chart #overview type="bar" [data]="overviewChart" [options]="overviewChartOptions"
                            id="overview-chart"></p-chart>
                    </div>
                    <hr>
                    <div class="graph-footer flex align-items-center justify-content-end">
                        <div class="input-group" style="margin-right: 60%;">
                            <a>Set the amout of days to see on the table: </a>
                            <input type="number" [(ngModel)]="tableLengthInput" placeholder="Enter table length"
                                style="margin-left: 5%;">
                            <button class="btn btn-primary" type="button"
                                (click)="changeTableLength(tableLengthInput)">Set</button>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-4">
                        <div class="card widget-overview-chart h-full">
                            <div class="card-body">
                                <p class="mb-1" style="color: black;">Add your total XP</p>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="XP" [(ngModel)]="newXpValue">

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3">
                        <div class="card widget-overview-chart h-full">
                            <div class="card-body">
                                <p class="mb-1" style="color: black;">Xp event?</p>
                                <div class="input-group">
                                    <div style="margin-top: 0.5rem;">
                                        <div class="form-check mb-2">
                                            <input class="form-check-input" type="radio" name="xpEvent"
                                                [(ngModel)]="xpEvent" id="radioNone" value="0">
                                            <label class="form-check-label" for="radioNone">None</label>
                                        </div>

                                        <div class="form-check mb-2">
                                            <input class="form-check-input" type="radio" name="xpEvent"
                                                [(ngModel)]="xpEvent" id="radioX2" value="2">
                                            <label class="form-check-label" for="radioX2">x2</label>
                                        </div>

                                        <div class="form-check mb-2">
                                            <input class="form-check-input" type="radio" name="xpEvent"
                                                [(ngModel)]="xpEvent" id="radioX3" value="3">
                                            <label class="form-check-label" for="radioX3">x3</label>
                                        </div>
                                        <div class="form-check mb-2">
                                            <input class="form-check-input" type="radio" name="xpEvent"
                                                [(ngModel)]="xpEvent" id="radioX3" value="4">
                                            <label class="form-check-label" for="radioX3">x4</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-lg-3">
                        <div class="card widget-overview-chart h-full">
                            <div class="card-body">
                                <p class="mb-1" style="color: black;">Lucky egg used?</p>
                                <div class="input-group">
                                    <div style="margin-top: 0.5rem;">
                                        <div class="form-check mb-2">
                                            <input class="form-check-input" type="radio" name="luckyEgg"
                                                [(ngModel)]="luckyEgg" id="radioNone" value="yes">
                                            <label class="form-check-label" for="radioNone">Yes</label>
                                        </div>

                                        <div class="form-check mb-2">
                                            <input class="form-check-input" type="radio" name="luckyEgg"
                                                [(ngModel)]="luckyEgg" id="radioX2" value="no">
                                            <label class="form-check-label" for="radioX2">No</label>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div style="margin-top: 3rem;">
                        <button class="btn btn-primary btn-lg" type="button" (click)="addXPRecord()">
                            <i class="bi bi-plus"></i> Add
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card p-0 widget-overview-box widget-overview-box-2">
                    <div class="flex align-items-center justify-content-start pt-3 pb-2 px-4">
                        <div class="pl-3 overflow-hidden">
                            <span class="header block white-space-nowrap overflow-hidden">Average XP per day: </span>
                            <span class="block text-2xl font-bold text-primary">{{ average }}</span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card p-0 widget-overview-box widget-overview-box-2">
                    <div class="flex align-items-center justify-content-start pt-3 pb-2 px-4">
                        <div class="pl-3 overflow-hidden">
                            <span class="header block white-space-nowrap overflow-hidden">XP needed to hit lvl 50:
                            </span>
                            <span class="block text-2xl font-bold text-primary">{{ totalXpToFifty }}</span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card p-0 widget-overview-box widget-overview-box-2">
                    <div class="flex align-items-center justify-content-start pt-3 pb-2 px-4">
                        <div class="pl-3 overflow-hidden">
                            <span class="header block white-space-nowrap overflow-hidden">Days needed to hit lvl 50:
                            </span>
                            <span class="block text-2xl font-bold text-primary">{{daysNeeded | number:'1.2-2' }}</span>
                        </div>
                    </div>
                </div>

                <br>
                <div class="card p-0 widget-overview-box widget-overview-box-2">
                    <div class="flex align-items-center justify-content-start pt-3 pb-2 px-4">
                        <div class="card" style="width: 55rem;">
                            <p-table [value]="xpRecordsTable" [tableStyle]="{ 'width': '100%' }"
                                styleClass="p-datatable-striped responsive-table" [paginator]="true" [rows]="5"
                                [rowsPerPageOptions]="[5, 10, 20]" [scrollable]="true" scrollHeight="22rem">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Total XP</th>
                                        <th class="hide-mobile">Daily XP Difference</th>
                                        <th>Date</th>
                                        <th class="hide-mobile">Avg Daily XP</th>
                                        <th class="hide-mobile">XP Event</th>
                                        <th class="hide-mobile">Lucky Egg</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record>
                                    <tr>
                                        <td>{{ record.totalXP | number:'1.0-0' }}</td>
                                        <td class="hide-mobile">{{ record.dailyXPDifference | number:'1.0-0' }}</td>
                                        <td>{{ record.date | date:'shortDate' }}</td>
                                        <td class="hide-mobile">{{ record.avgDailyXp | number:'1.2-2' }}</td>
                                        <td class="hide-mobile">{{ record.xpEvent }}</td>
                                        <td class="hide-mobile">{{ record.luckyEgg }}</td>
                                    </tr>
                                </ng-template>
                            </p-table>



                        </div>
                    </div>
                </div>

            </div>

        </div>
        <br>

    </div>
</div>