
.layout-dashboard {
    display: flex;
    height: 100vh;
}

.layout-dashboard .grid {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.layout-dashboard .col-12 {
    flex: 1; 
}

.layout-dashboard .lg\:col-6 {
    flex: 0 0 50%;
}

.layout-dashboard .lg\:col-3 {
    flex: 0 0 25%; 
}

.card {
    width: 100%; 
}

span {
    font-size: 1.7rem;
}

/* Mejoras para la tabla responsiva */
.responsive-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%; /* Asegura que ocupe el ancho total del contenedor */
}

.p-datatable {
    width: 100%;
}

.p-datatable td, .p-datatable th {
    text-align: left;
    padding: 10px;
}

/* Media query para pantallas menores a 768px (tablets y móviles) */
@media screen and (max-width: 768px) {
    .responsive-table {
        overflow-x: auto;
        display: block;
        width: 100%; /* Asegurar que la tabla ocupe todo el ancho */
    }

    /* Ajustar celdas en móviles */
    .p-datatable td, .p-datatable th {
        padding: 8px;
        white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
    }

    /* Ocultar columnas no esenciales en móviles */
    .hide-mobile {
        display: none;
    }

    /* Ajustar los botones para pantallas más pequeñas */
    .p-button {
        font-size: 0.8rem;
        padding: 0.5rem 0.75rem;
    }
}

/* Media query para pantallas menores a 480px (móviles más pequeños) */
@media screen and (max-width: 480px) {
    .p-datatable td, .p-datatable th {
        padding: 6px;
        font-size: 0.75rem; /* Texto más pequeño */
    }

    .p-button {
        font-size: 0.7rem;
        padding: 0.4rem 0.6rem;
    }
  
    /* Opcional: Ajustar aún más las columnas */
    .layout-dashboard .lg\:col-6 {
        flex: 0 0 100%; /* Ocupa todo el ancho */
    }

    .layout-dashboard .lg\:col-3 {
        flex: 0 0 100%; /* Ocupa todo el ancho */
    }
}
