.game-container {
  text-align: center;  
  padding-top: 2rem;
  width: 100%;
  max-width: 50%;
  border: 2px solid #007bff; /* Borde del marco con color azul */
  border-radius: 8px; /* Bordes redondeados opcional */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional para efecto de prof*/
}

.user-input {
  margin-bottom: 1rem;
}

input[type="number"] {
  font-size: 1rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.result-message {
  font-weight: bold;
  margin-top: 1rem;
}
