<br>
<div class="game-container">
    <h2>Guess the Number of Attacks</h2>
    <p>Pokemon: {{ selectedPokemon?.name }}</p>
    <p>Attack: {{ getAttackName(selectedAttackPattern) }} (Type: {{ getAttackType(selectedAttackPattern) }})</p>
  
    <div class="user-input">
      <label for="userAnswer" style="color: black">Your Answer:</label>
      <input type="text" id="userAnswer" [(ngModel)]="userAnswer" />
      <button (click)="checkAnswer()">Submit</button>
    </div>
  
    <div *ngIf="resultMessage">
      <p>{{ resultMessage }}</p>
    </div>
  
    <button (click)="newRound()">New Round</button>
  </div>
  