<div class="table-container">
    <div class="table-wrapper">
      <p-table #dt [value]="pokemon" styleClass="p-datatable-gridlines" 
          [tableStyle]="{ 'min-width': '100%' }" [paginator]="true" [rows]="10"
          [rowsPerPageOptions]="[5, 10, 20]" responsiveLayout="scroll">
          <ng-template pTemplate="header">
              <tr>
                  <th class="name-column">Name
                      <input 
                      pInputText 
                      class="search-input"
                      type="text" 
                      (input)="filterTable($event)" 
                      placeholder="Search by name" 
                  />
                  </th>
                  <th>Atk1</th>
                  <th>Atk2</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-pokemon>
              <tr class="pokemon-row">
                  <td class="name-column">{{ pokemon.name }}</td>
                  <td [ngClass]="getAttackClass(pokemon.type1)">{{ pokemon.atk1 }}</td>
                  <td [ngClass]="getAttackClass(pokemon.type2)">{{ pokemon.atk2 }}</td>
              </tr>
          </ng-template>
      </p-table>
    </div>
  
    <div class="legend-container">
      <div class="legend">
          <h3>Legend of Types</h3>
          <ul class="legend-types">
              <li *ngFor="let type of pokemonTypes">
                  <span [ngClass]="getAttackClass(type)" class="legend-color-box"></span> {{ type | titlecase }}
              </li>
          </ul>
          <br><br><br>
          <h3>Legend of Attack Patterns</h3>
          <ul>
              <li>
                  <strong>X-</strong> : Sequence decreases by 1 after the first attack (e.g., 8-, becomes 8,7,7,7,...).
              </li>
              <li>
                  <strong>X*</strong> : Alternating sequence (e.g., 8*, becomes 8,7,8,7,...).
              </li>
          </ul>
      </div>
    </div>
  </div>
  