.table-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1.5rem;
}

.table-wrapper {
  overflow-x: auto;
}

.legend-container {
  margin-top: 1.5rem;
  text-align: center;
}

.legend-color-box {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

@media (max-width: 768px) {
  p-table {
    width: 100%;
    overflow-x: auto;
  }

  /* Hacemos que la columna "Name" sea más estrecha en dispositivos móviles */
  .name-column {
    width: 120px; /* Ajusta este valor según lo que necesites */
  }

  /* Reducir el tamaño del input de búsqueda en móviles */
  .search-input {
    width: 80%; /* Ajusta el tamaño del input */
    font-size: 0.9rem; /* Reduce el tamaño de la fuente del input */
  }

  .pokemon-row td {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .legend-container {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .table-container {
    flex-direction: row;
    align-items: flex-start;
    gap: 3rem;
  }

  .pokemon-row td {
    font-size: 1.3rem;
    padding: 1rem;
  }

  .legend-container {
    max-width: 15rem;
    margin-left: 0;
  }
}

.legend-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.legend {
  flex-shrink: 0;
}

.legend h3 {
  margin-bottom: 0.5rem;
}

.legend-types {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.legend-types li {
  display: flex;
  align-items: center;
}

.legend-color-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 4px;
}

.type-normal {
  background-color: #A8A77A;
  color: black;
}

.type-fire {
  background-color: #EE8130;
  color: white;
}

.type-water {
  background-color: #6390F0;
  color: white;
}

.type-electric {
  background-color: #F7D02C;
  color: black;
}

.type-grass {
  background-color: #7AC74C;
  color: black;
}

.type-ice {
  background-color: #96D9D6;
  color: black;
}

.type-fighting {
  background-color: #C22E28;
  color: white;
}

.type-poison {
  background-color: #A33EA1;
  color: white;
}

.type-ground {
  background-color: #E2BF65;
  color: black;
}

.type-flying {
  background-color: #A98FF3;
  color: black;
}

.type-psychic {
  background-color: #F95587;
  color: white;
}

.type-bug {
  background-color: #A6B91A;
  color: black;
}

.type-rock {
  background-color: #B6A136;
  color: black;
}

.type-ghost {
  background-color: #735797;
  color: white;
}

.type-dragon {
  background-color: #6F35FC;
  color: white;
}

.type-dark {
  background-color: #705746;
  color: white;
}

.type-steel {
  background-color: #B7B7CE;
  color: black;
}

.type-fairy {
  background-color: #D685AD;
  color: black;
}
