<div class="home-container">
  <header>
    <h1 style="color: rgb(33, 167, 167);">Welcome to the Pokemon GO Tracker Application!</h1>
    <p style="color: rgb(33, 167, 167);">Here you can track various aspects of your gaming experience:</p>
  </header>

  <section class="main-content">
    <div class="features">
      <h2>Features</h2>
      <p style="color: black"><strong>PVP Log:</strong> Monitor and analyze your PVP battles, view detailed logs, and filter results based on your preferences.</p>
      <p style="color: black"><strong>XP Tracker:</strong> Keep track of your daily XP gains, see how much XP you need to reach level 50, and get insights into your overall progress.</p>
      <p style="color: black"><strong>Attackers Table:</strong> View a table of the most common attackers in PVP, including information on the number of basic moves required for their charged attacks.</p>
      <p style="color: black"><strong>Minigame:</strong> Engage in a fun minigame to learn about the number of basic moves needed for different Pokemon to reach a charged attack.</p>
    </div>

    <div class="updates">
      <div class="update-box">
        <h3>Last Update - December 27, 2024</h3>
        <p>Now you can delete experience and battle log records.</p>
      </div>

      <div class="update-box">
        <h3>Next Update</h3>
        <p>Support to store battle league records by season.</p>
      </div>
    </div>
  </section>
</div>

<div>
  <a href="https://buymeacoffee.com/xdchus3" target="_blank" style=" margin-left: 1%;">
      <img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me a Coffee" style="height: 40px; width: 180px;">
  </a>
</div>
<hr>
