<div class="home-container">
  <header>
    <h1>Welcome to the Pokémon GO Tracker Application!</h1>
    <p style="color: #8fb7f7">Track various aspects of your gaming experience with ease:</p>
  </header>

  <section class="main-content">
    <div class="features">
      <h2>Features</h2>
      <p><strong>PVP Log:</strong> Monitor and analyze your PVP battles with detailed logs and filtering options.</p>
      <p><strong>XP Tracker:</strong> Track your daily XP gains and see how much XP you need to reach level 50.</p>
      <p><strong>Attackers Table:</strong> View the most common PVP attackers with detailed move information.</p>
      <p><strong>Minigame:</strong> Play a fun minigame to learn about charged attack mechanics.</p>
    </div>

    <div class="updates">
      <div class="update-box">
        <h3>Last Update - January 03, 2025</h3>
        <p style="color: white;">Now you can delete experience and battle log records.</p>
        <p style="color: white;">Support to store battle league records by season.</p>
        <p style="color: white;">Some pokemon were added to gbl table and mini game</p>
      </div>

      <div class="update-box">
        <h3>Next Update</h3>
        <p style="color: white;">Being able to show pvp data from current/all seasons</p>
      </div>
    </div>
  </section>

  <div class="coffee-donation">
    <a href="https://buymeacoffee.com/xdchus3" target="_blank">
      <img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me a Coffee">
    </a>
  </div>
</div>
